.homepage-container {
  display: flex;
  align-items: center; 
  overflow: hidden;
  padding: 5% 10%;
  box-sizing: border-box;
}

.homepage-content {
  max-width: 35rem;
  text-align: left;
  flex: 1;
  margin-top: -10vh;
}

.homepage-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1.5rem;
  line-height: 1.4;
}

.homepage-description {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.homepage-buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}


.homepage-button {
  font-size: 1rem;
  padding: 0.5rem 1rem !important;
  white-space: nowrap;
  min-width: 180rem;
}

@media (max-width: 30rem) {
  .homepage-buttons {
    flex-direction: column;
    align-items: flex-start;
  }
}

.homepage-animation {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: clamp(30rem, 45vw, 50rem);
  max-height: clamp(30vh, 55vh, 60vh);
  overflow: hidden;
  position: relative;
  left: 3rem;
  bottom: 2rem;
}

@media (max-width: 60rem) {
  .homepage-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    padding: 10% 5%;
  }

  .homepage-content {
    max-width: 90%;
    margin-top: 0;
    text-align: center;
    z-index: 2;
  }

  .homepage-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw; 
    max-height: 100vh;
    z-index: 1;
    opacity: 0.4;
  }

  .homepage-buttons {
    justify-content: center;
  }
}








